.docDadoAlu, .dado {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.docDadoAlu {
    margin-top: 20px;
}

.dado {
    gap: 15px;
    flex-direction: row;
}

.aluSai {
    display: flex;
    justify-content: end;
    align-items: end;

}

.saidaAlu{
    width: 95%;
}

.tituDadAlu{
    font-family: 'Racing Sans One', cursive;
    color: #0E0F8A;
}

.nomeAlu{
    font-family: 'Open Sans', sans-serif;
}

.dadAlu{
    font-family: 'Open Sans', sans-serif;
    color: #494949;
}

.presente{
    color: #00BF63 !important;
}

.ausente{
    color: #BF0600 !important;
}