.docDadoAlu, .dado {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.docDadoAlu {
    margin-top: 20px;
}

.dado {
    gap: 15px;
    flex-direction: row;
}

.aluSai {
    display: flex;
    justify-content: end;
    align-items: end;

}

.saidaAlu{
    width: 95%;
}