:root{
    --apacity-img-profs: o;
}

#_Card-fund-BTN {
    background-color: #010D42;
}

#_Btn-Card {
    --bs-btn-padding-y: .50rem;
    --bs-btn-padding-x: .9rem;
    --bs-btn-font-size: .95rem;
    color: #175A89;
}


.fab:hover {
    opacity: 0.8;
    background-color: #dddddd;
    
}

button.fab {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 170px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #00000030;
}

button.fab.fixed {
    position: fixed;
}

button.fab.bottom {
    top: 90px;
}

button.fab.right {
    right: 32px;
}


.classes-size .students-size {
    width: 90%;
}

.card-body {
    height: 250px;
    width: 400px;
}

.col-img {
    flex: 0 1 0%;
}

.list-group-image {
    position: relative;
    display: block;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
    color: var(--bs-list-group-color);
    text-decoration: none;
}

.card .card-body:hover {
    cursor: pointer;
    background-color: #dddddd;
    opacity: 0.8;
}

#_Text-titulo {
    font-family: 'Racing Sans One';
    font-size: 35px;
}

.fora{
    display: none !important;
}

.btnExcluiSala{
    background-color: #dddddd;
    width:70px !important;
    height: 45px;
    border: none;
    border-radius: 15px;
    margin-bottom: 10px;
}

.btnExcluiSala:hover{

    cursor: pointer;
    background-color: #ffa4a4 !important;
}

.combtn{
    width: 100%; 
    display: flex !important;
}

.sembtn{
    width: 100%; 
    display: none !important;
}
.main{
    background-color: #b6b6b649;
    
}

.fundPreto {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.DocAlu, .DocCad {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    background-color: #ffffff;
    position: fixed;
    top: 150px;
}

.headerCad{
    padding-top: 30px !important;
    border: none !important;
    width: 100% !important;
    justify-content: end !important;
    gap: 84px !important;
    margin-right: 20px;
}

.headerAlu, .headerCad {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border-bottom: 1px solid #8a8a8a99;
}

.animation{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    border: 5px solid #666666;
    border-left-color: #010D42;
}

.is-animation{
    animation: loading 1s linear infinite;
}

@keyframes loading{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}