body{
    background: rgb(255,255,255);
background: linear-gradient( rgba(5,5,71,1) 50%, rgba(255,255,255,1) 50%);
}

.tela{

    width: 500px;
height: 400px;
background: #E2E3E4;
}

.botao{

   width: 100%;
   justify-content: center;
   align-items: center;
   display: flex;
}

.container{
justify-content: center;
display: flex;
align-items: center;
background: transparent;
height: 100vh;
}

.label10 {
display: flex !important;
align-items: center !important;
}

.est  {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: transparent;
    background-clip: padding-box;
     border-top: var(--bs-border-width) solid var(--bs-border-color);  
     border-left: var(--bs-border-width) solid var(--bs-border-color);  
     border-right: var(--bs-border-width) solid var(--bs-border-color);  

     -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: var(--bs-border-radius);
}

.est:focus{

    outline: 0;
}

.container h2{
    text-align: center;
    }

.Logos img{
    display: flex;
    align-items: center;
    width: 50px ;
    height: 50px;
}
   
.tela2{
width: 500px;
height: 400px;
background: white;
align-items: center;
display: flex;
text-align: center;
}

.logosTela2{
    margin-left: 20%;
    margin-top: 15%;
}
.fttelefone{
    margin-bottom: 70%;
    
}

.borda{
    border-style: solid;
    border-width: 1px;
    border-color: black;
}