.horario {
    background-color: #fff;
    width: 95%;
}

.primeiroTopEsq {
    border-radius: 30px
}

.timeDias {
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none !important;
}

td, tr {
    border-width: 3px !important;
    border-style: solid !important;
    border-color: #050547 !important;
    text-align: center;
}

td {
    height: 50px !important;
}